<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>569323043647-cri7l0k5371mgkqehbfo7s4pr8t5jdi5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.569323043647-cri7l0k5371mgkqehbfo7s4pr8t5jdi5</string>
	<key>API_KEY</key>
	<string>AIzaSyDNo_OLvCePnZqy42seNqBI8eyDuTKlcQ4</string>
	<key>GCM_SENDER_ID</key>
	<string>569323043647</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.shopkittyApp</string>
	<key>PROJECT_ID</key>
	<string>shopkitty-46cc6</string>
	<key>STORAGE_BUCKET</key>
	<string>shopkitty-46cc6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:569323043647:ios:234c4317698d4735f7b18a</string>
	<key>DATABASE_URL</key>
	<string>https://shopkitty-46cc6.firebaseio.com</string>
</dict>
</plist>